body{
    background-color: black;
    box-sizing: border-box;
    font-size: 40px;
    font-weight: 200;
    font-family: 'Syne Tactile', cursive;
    margin: 0%;
    color:white
}
*,*::after,*::before{
    box-sizing: inherit;
}
.main{
    width: 100%;
    display: flex;    
    flex-direction: row;
    overflow: hidden;
    min-height: 100vh;
}
div div{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    transition:all 0.5s ease ;
    text-shadow: 1px 1px 2px black;
}
div div p{
    transition: 0.5s ease;
}
div div:hover{
    width: 60%;
    filter: opacity(0.9);
}
div div:hover p:first-child{
    transform: translateY(0px);

}
div div:hover p:last-child{
    transform: translateY(0px);

}
.lion{
    background-image:url(picture/lion1.jpg);
    background-size: cover;
    background-position: left;
}
.gazal{
    background-image:url(picture/gazal.jpg);
    background-size: cover;
}
.land{
    background-image:url(picture/land.jpg);
    background-size: cover ;
}
.fox{
    background-image:url(picture/fox.jpg);
    background-size: cover;
}
.tiger{
    background-image:url(picture/tiger.jpg);
    background-size: cover;
    background-position: right;
}
div div p:first-child{
    transform: translateY(-500px);
}
div div p:last-child{
    transform: translateY(500px);
}