/* global start */
*{ 
    box-sizing: border-box;
}

:root{
    --dark-color:#19283f;
    --orange-color:#ffaa36;
    --blue-color:#4ccffb;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* global end*/
/* nav start */
#logo:hover{
    color: var(--blue-color);
    transform: scale(1.1)rotate(5deg);
}
#logo{
    color: var(--orange-color);
    font-weight: bold;
    font-size: 35px;
    text-decoration: none;
    transition: 0.5s ease;
}
.navbar{
    background-color: var(--dark-color);
}

.navbar .navbar-nav .nav-link{
    color: var(--blue-color);
    font-size: 20px;
    transition: 0.5s ease;
}
.navbar .navbar-nav .nav-link.active{
color: var(--orange-color);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus{
    color: var(--orange-color);
    transform: scale(1.1);
}
.navbar .navbar-nav .nav-link.active:hover{
    color: var(--blue-color);
}
.navbar .container .navbar-toggler{
    border-color: var(--blue-color);
    font-size: 25px;
    color: var(--blue-color);
}
.navbar .container .navbar-toggler:hover{
    color: var(--orange-color);
    border-color: var(--orange-color);
}

.navbar-toggler:focus{
    box-shadow: none;
}
/* nav end */
/* Home start */
.Home{
    padding-top: 25px;
}
.Home .contain{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.Home .left-side{
    display: flex;
    flex-direction: column;
}
.Home .left-side .main-text{
    font-size: 80px;
    font-weight: 700;
    font-style: italic;
} 
.Home .left-side .secondary-text{
    font-size: 40px;
    text-align: right;
    font-weight: 600;
}
.Home .left-side .secondary-text span{
color: var(--blue-color);
}
.Home .left-side .let-s{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Home .left-side .let-s .talk {
    background-color: var(--blue-color);
    padding: 15px 20px;
    border-radius: 50px;
    margin-top: 40px;
}
.Home .left-side .let-s .talk a{
    font-weight: 700;
    text-decoration: none;
    font-size: 25px;
    color: white;
    transition: 0.3s ease;
}
.Home .left-side .let-s .talk a:hover{
    color: var(--dark-color);
    box-shadow: -8px 1px 32px var(--blue-color);
}
.Home .left-side .let-s .talk a i{
    font-size: 25px;
    padding-left: 12px;
}
.Home .left-side .let-s .TAL {
    background-color: var(--orange-color);
    padding: 15px 20px;
    border-radius: 50px;

}
.Home .left-side .let-s .TAL a{
    font-weight: 600;
    text-decoration: none;
    font-size: 25px;
    color: white;
    transition: 0.3s ease;
}
.Home .left-side .let-s .TAL a:hover{
    color: var(--dark-color);
    box-shadow: -8px 1px 32px var(--orange-color);
}
.Home .left-side .let-s .TAL i{
    padding-left: 15px;
    font-size: 30px;
}
.Home .left-side .let-s .accounts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 20px;
}
.Home .left-side .let-s .accounts a{
    color: black;
    background-color: #69aaea7d;
    padding: 15px 23px;
    font-size: 28px;
    border-radius: 50%;
    transition: 0.3s ease;
}
.Home .left-side .let-s .accounts a:hover{
    color: var(--blue-color);
    transform: scale(1.05);
}
@media (max-width: 1200px){
    .Home .left-side .secondary-text {
        font-size: 34px;
        text-align: start;
    }
}
@media (max-width: 1150px){
    .Home .right-side img{
    width: 550px;
    }
}
@media (max-width: 992px){
    .Home .right-side img{
    width: 400px;
    }
}
@media (max-width: 800px){
    .Home .right-side img{
    width: 400px;
    }
    .Home .contain{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 440px){
    .Home{
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .Home .right-side img{
        width: 300px;
        }
        .Home .left-side{
            justify-content: center;
            align-items: center;
        }
        .Home .left-side .main-text {
            font-size: 60px;
            font-weight: 600;
        }
        .Home .left-side .secondary-text {
            font-size: 32px;
            text-align: center;
            font-weight: 500;
        }
        .Home .left-side .let-s .accounts {
            justify-content: space-around;
        }
        .Home .left-side .let-s .accounts a{
            padding: 10px 15px;
            font-size: 19px;
        }
        .Home .contain{
            justify-content: center;
        }
        .Home .right-side{
            order: -1;
        }
}

@media (max-width: 330px){
    .Home .right-side img {
        width: 200px;
    }
}
/* Home end */
/* about start*/
.about{
    background: linear-gradient(-45deg, var(--orange-color),#f8cc3b, #49eefa , var(--blue-color));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    border-bottom: 2px solid black;
}
@keyframes gradient {
	0% {
		background-position: 0% 20%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 20%;
	}
}
.about .container .contain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.about .container .contain .left-side{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.about .container .contain .left-side .main-text{
    font-size: 60px;
    font-weight: 800;
    font-style: italic;
}
.about .container .contain .left-side .main-job{
    font-weight: 500;
    font-size: 40px;
    margin: 25px 0;
}
.about .container .contain .left-side .secondery-experince{
    opacity: 0.7;
    font-size: 18px;
    margin-bottom: 30px;
    
}
.about .container .contain .left-side .skills{
    display: flex;
    flex-direction: column;
}
.about .container .contain .left-side .skills .title{
    font-size: 45px;
    font-weight: 700;
    font-style: italic;
}
.about .container .contain .left-side .skills .side-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.about .container .contain .left-side .skills .side-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.about .container .contain .left-side .skills .skill{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 180px;
    margin: 25px 0 10px;
}
.about .container .contain .left-side .skills .skill p:first-child{
    font-size: 30px;
    background-color: #000000;
    color: white;
    padding: 17px 25px;
    border-radius: 50%;
}
.about .container .contain .left-side .skills .skill p:last-child{
    font-size: 20px;
    font-weight: bold;
    
}
.about .container .contain .right-side{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.about .container .contain .right-side h2{
    font-size: 60px;
    font-weight: 800;
    font-style: italic;
}
.about .container .contain .right-side hr{
    width: 100%;
    font-size: 2px;
    border: 1.6px black solid;
    border-radius: 33px;
    margin: 0 0 10px 0;
}
.about .container .contain .right-side .Experience{
    align-self: center;
}

.about .container .contain .right-side .Experience .date{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.about .container .contain .right-side .Experience .script{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.about .container .contain .right-side .Experience .script p:first-child{
    font-size: 25px;
    font-weight: bold;
}
.about .container .contain .right-side .Experience .script p:last-child{
    font-size: 17px;
}
@media (min-width:1200px){
    .about .container .contain .right-side{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }
    .about .container .contain .right-side h2{
        font-size: 60px;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 60px;
    }
    .about .container .contain .right-side hr{
        width: 105%;
        height: 4px;
        background-color: black;
        border-radius: 50px;
        margin: 0 0 10px 0;
    }
    .about .container .contain .right-side .Experience{
        align-self: flex-start;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    .about .container .contain .right-side .Experience .date{
        display: flex;
    flex-direction: column;
    align-items: center;
}
.about .container .contain .right-side .Experience .script{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0px 0 129px;
}
.about .container .contain .right-side .Experience .script p:first-child{
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 5px;
}
.about .container .contain .right-side .Experience .script p:last-child{
    font-size: 17px;
    align-self: flex-start;
    opacity: 0.8;
}
}

@media (max-width:992px){
    .about .container .contain{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about .container .contain .left-side{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
.about .container .contain .left-side .skills {
        justify-content: center;
        align-items: center;
    }
    .about .container .contain .left-side .skills .skill {
        align-items: center;
        width: 150px;
    }
    .about .container .contain .left-side .skills .side-1 {
        gap: 120px;
    }
    .about .container .contain .left-side .skills .side-2 {
        gap: 120px;
    }
    .about .container .contain .left-side .secondery-experince{
        text-align: center;
    }
}
@media (max-width:710px){
    .about .container .contain .left-side .skills .side-1 {
        gap: 60px;
    }
    .about .container .contain .left-side .skills .side-2 {
        gap: 60px;
    }
}
@media (max-width:588px){
    .about .container .contain .left-side .skills .side-1 {
        gap: 15px;
    }
    .about .container .contain .left-side .skills .side-2 {
        gap: 15px;
    }
}
@media (max-width:497px){
    .about .container .contain .left-side .skills .side-1 {
        gap: 5px;
    }
    .about .container .contain .left-side .skills .side-2 {
        gap: 5px;
    }
    .about .container .contain .left-side .skills .skill p:first-child {
        font-size: 15px;
    padding: 5px 10px;
    }
    .about .container .contain .left-side .skills .skill p:last-child {
        font-size: 10px;
    }
    .about .container .contain .left-side .skills .skill {
        width: 50px;
        align-items: center;
    }
    .about .container .contain .left-side .main-job {
        font-size: 25px;
        text-align: center;
    }
    .about .container .contain .left-side .main-text {
        font-size: 40px;
    }
    .about .container .contain .left-side .secondery-experince {
        font-size: 12px;
        text-align: center;
    }
    .about .container .contain .right-side {
        align-items: center;
    }
    .about .container .contain .right-side h2 {
        font-size: 40px;
    }
    .about .container .contain .right-side .Experience .script p:first-child {
        font-size: 18px;
    }
    .about .container .contain .right-side hr {
        width: 70%;
    }
}
/* about end */
/* projects start */
.Projects{
    width: 100%;
    display: flex;    
    flex-direction: row;
    overflow: hidden;
    height: 88vh;
    gap: 10px;
    background-color: black;
    position: relative;
}
.Projects .panel{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    transition:all 0.5s ease ;
    text-shadow: 1px 1px 2px black;
}
.Projects .panel p{
    transition: 0.5s ease;
    font-size: 50px;
    font-weight: 800;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.267);
    color: white;
    padding: 0 20px;
    border-radius: 40px 2px 40px 2px;
}
.Projects .panel:hover{
    width: 50%;
}
.Projects .panel:hover p:first-child{
    transform: translateY(0px);
}
.Projects .panel:hover p:last-child{
    transform: translateY(0px);
}
.project1{
    background-image:url(image/work\ 1.jpeg);
    background-size: cover;
}
.project2{
    background-image:url(image/work\ 2.jpg);
    background-size: cover;
}
.project3{
    background-image:url(image/work\ 3.jpg);
    background-size: cover;
}
.Projects .panel p:first-child{
    transform: translateY(-500px);
    transition: 0.5s ease;
    font-size: 30px;
    font-weight: 800;
    color: white;
    font-size: 30px;
    background-color:#ffab36;
    padding: 5px 20px;
    border-radius: 40px;
}
.Projects .panel p:last-child{
    transform: translateY(500px);
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0);
    padding: 0 20px;
    border-radius: 40px 2px 40px 2px;
}
.Projects .panel p a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    background-color:#4ccffb;
    padding: 5px 20px;
    border-radius: 40px;
    transition: 0.3s ease; 
}
.Projects .panel p a:hover{
    color: black;
    box-shadow: 0 0 11px 4px #4ccffb;
}
@media (max-width:992px){
.Projects .panel p{
    font-size: 30px;
    font-weight: 800;
    font-style: italic;
    color: #e6e8ff;
    padding: 0 15px;
    border-radius: 50px 2px 50px 2px;
    background-color: #4ccffbec;
}
.Projects{
    height: 91vh;
    gap: 3px; 
}
.Projects .panel:hover{
    width: 40%;
}
}
@media (max-width:758px){
    .Projects{
        flex-direction: column;
        height: 93vh;
    }
    .Projects .panel{
        width: 100%;
        height: 33%;
    }
    .project1{
        background-image: url(image/work\ 1-2.jpg);
    }
    .project2{
        background-image: url(image/work\ 2-2.png);
    }
    .project3{
        background-image: url(image/work\ 3-2.jpg);
    }
    .Projects .panel p{
        padding: 3px 24px;   
    }
    .Projects .panel:hover {
        width: 100%;
        height: 40%;
    }
    .Projects .panel:hover p {
        transform: scale(0);
    }
    .Projects .panel p:first-child {
        transform: translateX(-500px);
    }
    .Projects .panel p:last-child {
        transform: translateX(500px);
    }
}
/* projects end */
/* testimonial  start*/
.testimonial .main-text {
    font-size: 40px;
    text-align: center;
    margin: 30px 0 40px;
}
.testimonial .contain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.testimonial .middle{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ccc;
    height: 470px;  
}
.testimonial .middle p{
    padding: 20px 10px 2px;
    padding: 20px 10px 10px;
    color: #777;
    text-align: center;
}
.middle .img-holder1 img,
.middle .img-holder2 img,
.middle .img-holder3 img{
    max-width: 100%;
}
.middle .img-holder1,
.middle .img-holder2,
.middle .img-holder3{
    position: relative;
    overflow: hidden;   
}
.middle .img-holder2::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.397);
}
.middle .img-holder1::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #4ccffb50;
}
.middle .img-holder3::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #ffab363d;
}
.middle .img-holder1::after,
.middle .img-holder2::after,
.middle .img-holder3::after{
    content: "";
position: absolute;
bottom: 0;
right: 0;
border-style: solid;
border-width: 0px 0px 70px 600px;
border-color: transparent transparent white transparent;
transition: 0.3s;
}
.middle:hover .img-holder1::after,
.middle:hover .img-holder2::after,
.middle:hover .img-holder3::after{
    border-width: 0px 1000px 200px 0px;
    transition-duration: 0.5s;
}
.middle h2{
position: relative;
font-size: 35px;
margin: auto;
width: fit-content;
}
.middle1 h2::after{
    content: "";
position: absolute;
bottom: -20px;
left: 15px;
height: 5px;
background-color: var(--blue-color);
width: calc(100% - 30px);
}
.middle2 h2::after{
    content: "";
position: absolute;
bottom: -20px;
left: 15px;
height: 5px;
background-color: red;
width: calc(100% - 30px);
}
.middle3 h2::after{
    content: "";
position: absolute;
bottom: -20px;
left: 15px;
height: 5px;
background-color: var(--orange-color);
width: calc(100% - 30px);
}
.middle .main-but1{
    display: block;
    border: 2px solid var(--blue-color);
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 20px;
    color: var(--blue-color);
    background: linear-gradient(to right, var(--blue-color) 50% , white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: 0.3s;
    text-decoration: none;
    border-radius: 50px;
}
.middle .main-but2{
    display: block;
    border: 2px solid red;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 20px;
    color: red;
    background: linear-gradient(to right, red 50% , white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: 0.3s;
    text-decoration: none;
    border-radius: 50px;
}

.middle .main-but3{
    display: block;
    border: 2px solid var(--orange-color);
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 20px;
    color: var(--orange-color);
    background: linear-gradient(to right, var(--orange-color) 50% , white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: 0.3s;
    text-decoration: none;
    border-radius: 50px;
}
.middle:hover a{
    background-position: left bottom;
    color: white;
}
@media (max-width:992px){
    .testimonial .middle{
        width: 45%;
    }
    .testimonial .contain{
        justify-content: space-around;
    gap: 20px;
    }
}
@media (max-width:771px){
    .testimonial .middle{
        width: 80%;
    }
}
@media (max-width:420px){
    .testimonial .middle{
        width: 80%;
    }
    .middle a{
        margin: 0 auto 16px;
        font-size: 20px;
    }
    .testimonial .middle p{
        font-size: 12px;
    }
    .middle h2 {
        font-size: 25px;
    }
}
/* testimonial  end*/
/* Contact start */
.contact{
    height: 67vh;
    overflow: hidden;
}
.contact .container .contain{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}
.contact .container .contain .left-side{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10%;
}
.contact .container .contain .left-side h2{
    width: 90%;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 15%;
}
.contact .container .contain .left-side p{
    font-size: 30px;
    font-weight: 600;
}
.contact .container .contain .left-side p a{
    border-bottom: 2px solid var(--orange-color);
    text-decoration: none;
    color: var(--orange-color);
    transition: 0.3s ease;
}
.contact .container .contain .left-side p a:hover{
    color: var(--blue-color);
    border-bottom: 2px solid var(--blue-color);
}
.contact .container .contain .right-side{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.contact .container .contain .right-side img{
    width: 120%;
}
@media (max-width:1200px){
    .contact .container .contain .left-side h2{
        width: 110%;
    }
    .contact{
        height: 56vh;
    }
}
@media (max-width:992px){
    .contact .container .contain .left-side h2{
        width: 140%;
        font-size: 37px;
    }
    .contact{
        height: 42vh;
    }
    .contact .container .contain .right-side{
        align-items: center;
    }
}

@media (max-width:771px){
    .contact{
        height: 74vh;
    }
    .contact .container .contain .left-side{
    align-items: center;
    }
    .contact .container .contain .left-side h2{
        font-size: 31px;
        text-align: center;
        margin-bottom: 17px;
        width: auto;
    }
	
    .contact .container .contain .left-side p{
        font-size: 25px;
        text-align: center;
    }
    .contact .container .contain{
        flex-direction: column;

    }
    .contact .container .contain .right-side img{
        width: 100%;
    }
}
@media (max-width:520px){
    .contact{
    height: 71vh;
    }
}
@media (max-width:495px){
.contact{
    height: 48vh;
}
.contact .container .contain .right-side img{
    width: 80%;
}
}
@media (max-width:395px){
    .contact{
        height: 42.5vh;
    }
    .contact .container .contain .left-side h2{
        font-size: 20px;
    }
    .contact .container .contain .left-side p{
        font-size: 18px;
    }
}
@media (max-width:330px){
    .contact{
    height: 35.5vh;
}
}
/* Contact end */
/* footer start */
footer{
    padding-top: 20px;
    background-color: #19283f;
}
footer .content{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
footer .content .main-text{ 
    color: var(--blue-color);
    font-size: 30px;
    font-weight: 800;
}
footer .content .social{ 
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .content .social a{
    text-decoration: none;
    font-size: 22px;
    color: white;

}
footer .content .social a:hover{
    color: var(--orange-color);
    }
footer .content .Email a{
    text-decoration: none;
    color: var(--orange-color);
    font-size: 20px;
} 
footer .content .Email a:hover{
    color: var(--blue-color);
}
footer .content .Copy{
    color: white;
    font-size: 16px;
    margin: 2px;
}
footer .content .Copy span{
    color: var(--blue-color);
}
footer .content .Copy span:hover{
color: var(--orange-color);
}

/* footer end */
